version: '3.8'
services:
  db:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hrm_db
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - '3306:3306'

  web:
    image: php:8.1-apache
    volumes:
      - ./:/var/www/html:cached
    ports:
      - '8000:80'
    depends_on:
      - db
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html

volumes:
  db_data:
