name: Deploy to Hosting via FTP

on:
  push:
    branches: [ main, new ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: FTP deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}       # ftpupload.net
          username: ${{ secrets.FTP_USERNAME }}   # if0_xxx hoặc epiz_xxx
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          port: 21
          server-dir: /huy12345.click/            # Deploy vào folder domain
          local-dir: ./                           # gốc repo
          exclude: |                              # không up đồ thừa
            **/.git*
            **/.github/**
            **/node_modules/**
            **/tests/**
            **/tools/**
          dangerous-clean-slate: true           # Xóa sạch và upload lại toàn bộ
